@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
    font-size: 12pt;
  }

  header,
  nav,
  button,
  .print\:hidden {
    display: none !important;
  }

  #official-doc-sheet {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}
